<!doctype html>
<html lang="ru" class="animate-disabled">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap" rel="stylesheet">

    <link href="css/vendors~index.chunk.css?{{ date().getTime() }}" rel="stylesheet">
    <link href="css/index.css?{{ date().getTime() }}" rel="stylesheet">
    <link href="css/components.css?{{ date().getTime() }}" rel="stylesheet">
</head>
<body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>



{% view "&header" %}

{% block content %}{% endblock %}

{% view '&footer' %}

{% if block('endPage') is defined %}
    {{ block('endPage') }}
{% endif %}



<script type="text/javascript" src="js/vendors~index.chunk.js?{{ date().getTime() }}" defer></script>
<script type="text/javascript" src="js/index.js?{{ date().getTime() }}" defer></script>
<script type="text/javascript" src="js/components.js?{{ date().getTime() }}" defer></script>
</body>
</html>
