<header class="header">
    <div class="header__top top-header">
        <div class="top-header__container _container">
            <div class="top-header__menu menu-top-header">
                <ul data-da=".menu__body,991.98" class="menu-top-header__list">
                    <li class="menu-top-header__item menu-top-header__item_catalog">
                        <a class="menu-top-header__link menu-top-header__link_catalog"
                           href="#"><span class="_icon-arrow-bottom"></span><span>Каталог товаров</span></a>
                    </li>
                    {% for item in header.top_header.menu %}
                        <li class="menu-top-header__item">
                            <a class="menu-top-header__link"
                               href="{{ item.link }}">{{ item.text }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <a class="top-header__user" href="{{ header.top_header.user.link }}"> <span class="_icon-lk"></span>
                <span class="top-header__user-txt">{{ header.top_header.user.text }}</span></a>

            <nav hidden class="menu">
                {% view '^icon-menu' %}
                <div class="menu__body"></div>
            </nav>

        </div>
    </div>
    <div class="header__body body-header">
        <div class="body-header__container _container">
            <a class="body-header__logo _icon-logo" href="https://evgnikolaev.github.io/test-frontend/"></a>
            <div class="body-header__search">
                <form action="#" class="search-header">
                    <button class="search-header__btn _icon-search"></button>
                    <input class="search-header__input" type="text" placeholder="{{ header.body_header.search.placeholder }}">
                </form>
            </div>
            <div class="body-header__actions actions-header">
                <a class="actions-header__location"
                   href="{{ header.body_header.location.link }}"> <span class="_icon-location"></span>
                    <span class="actions-header__location-txt">{{ header.body_header.location.text }}</span> </a>
                <div class="actions-header__phones phones-header">
                    <div class="phones-header__items" data-spolers>
                        <div class="phones-header__item">
                            <a href="{{ header.body_header.phones.items|first.link }}"
                               class="phones-header__phone">
                                {{ header.body_header.phones.items|first.text }}</a>
                            <button class="phones-header__arrow _icon-arrow-bottom" data-spoler></button>
                            <ul class="phones-header__list" data-spoler-list>
                                {% for item in header.body_header.phones.items %}
                                    {% if loop.first != true %}
                                        <li>
                                            <a class="phones-header__phone"
                                               href="{{ item.link }}">{{ item.text }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <button class="phones-header__callback">
                        {{ header.body_header.phones.button }}
                    </button>
                </div>

                <a data-da=".top-header__container,991.98,first" class="actions-header__favorite _icon-favorite"
                   href="{{ header.body_header.favorite.link }}">
                    {{ header.body_header.favorite.text }}</a>

                <div data-da=".top-header__container,991.98,2" class="actions-header__cart cart-header">
                    <div class="cart-header__icon">
                        <span class="_icon-cart"></span><span class="cart-header__quantity">0</span>
                    </div>
                    <a class="cart-header__body" href="{{ header.body_header.cart.link }}">
                        <div class="cart-header__summ">0 p.</div>
                        <div class="cart-header__link">
                            {{ header.body_header.cart.text }}
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="header__catalog catalog-header">
        <div class="catalog-header__container _container">
            <nav class="catalog-header__menu menu-catalog">
                <button class="menu-catalog__back"><span class="_icon-arrow-bottom"></span><span>Назад</span></button>
                <ul class="menu-catalog__list">
                    {% for item in  header.menu.items %}
                        <li class="menu-catalog__item">
                            <a class="menu-catalog__link"
                               href="{{ item.link }}"
                                    {% if item.data %}{{ item.data }}{% endif %}>
                                {{ item.text }}</a>
                        </li>
                    {% endfor %}
                </ul>

                <div class="menu-catalog__sub-menu sub-menu-catalog">
                    <div class="sub-menu-catalog__container _container">

                        <div class="sub-menu-catalog__block" data-submenu="1">

                            {% for item in header.submenu_1.category %}
                                <div class="sub-menu-catalog__category">
                                    <a class="sub-menu-catalog__link-category" href="">{{ item }}</a>
                                </div>
                            {% endfor %}

                            <ul class="sub-menu-catalog__list">
                                {% for item in header.submenu_1.list_1 %}
                                    <li class="sub-menu-catalog__item">
                                        <a class="sub-menu-catalog__link" href="">{{ item }}</a>
                                    </li>
                                {% endfor %}
                            </ul>

                            <ul class="sub-menu-catalog__list">
                                {% for item in header.submenu_1.list_2 %}
                                    <li class="sub-menu-catalog__item">
                                        <a class="sub-menu-catalog__link" href="">{{ item }}</a>
                                    </li>
                                {% endfor %}
                            </ul>

                            <ul class="sub-menu-catalog__list">
                                {% for item in header.submenu_1.list_3 %}
                                    <li class="sub-menu-catalog__item">
                                        <a class="sub-menu-catalog__link" href="">{{ item }}</a>
                                    </li>
                                {% endfor %}
                            </ul>

                            <ul class="sub-menu-catalog__list">
                                {% for item in header.submenu_1.list_4 %}
                                    <li class="sub-menu-catalog__item">
                                        <a class="sub-menu-catalog__link" href="">{{ item }}</a>
                                    </li>
                                {% endfor %}
                            </ul>

                            <ul class="sub-menu-catalog__list">
                                {% for item in header.submenu_1.list_5 %}
                                    <li class="sub-menu-catalog__item">
                                        <a class="sub-menu-catalog__link" href="">{{ item }}</a>
                                    </li>
                                {% endfor %}
                            </ul>

                            {% for item in header.submenu_1.all %}
                                <div class="sub-menu-catalog__footer">
                                    <a class="sub-menu-catalog__all" href="">{{ item }}</a>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="sub-menu-catalog__block" data-submenu="2">
                            {% for item in header.submenu_2.category %}
                                <div class="sub-menu-catalog__category">
                                    <a class="sub-menu-catalog__link-category" href="">{{ item }}</a>
                                </div>
                            {% endfor %}

                            <ul class="sub-menu-catalog__list">
                                {% for item in header.submenu_2.list_1 %}
                                    <li class="sub-menu-catalog__item">
                                        <a class="sub-menu-catalog__link" href="">{{ item }}</a>
                                    </li>
                                {% endfor %}
                            </ul>

                            <ul class="sub-menu-catalog__list">
                                {% for item in header.submenu_2.list_2 %}
                                    <li class="sub-menu-catalog__item">
                                        <a class="sub-menu-catalog__link" href="">{{ item }}</a>
                                    </li>
                                {% endfor %}
                            </ul>

                            {% for item in header.submenu_2.all %}
                                <div class="sub-menu-catalog__footer">
                                    <a class="sub-menu-catalog__all" href="">{{ item }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>